<!doctype html>
<html>
<head>
  <title>Let's play!</title>
  <style>

      p 
        {
          font-family:  "Times New Roman", Times, serif;
          font-style: italic;
          background-color: lightblue;
          text-align: center;
          width: 400px;

        }

  </style>

</head>
<body>

    <h2> Mad <b>{{person}}</b> poem should starts like that: </h2>
    <p>
    There once was a <b>{{ color }} {{ noun }}</b> sitting in the Hackbright Lab.
    <br>
    When <b>{{ person }}</b> went to pick it up, it burst into flames in a totally
    <b>{{ adjective }}</b> way. </p>

    <a href="/hello">Play</a> again. 

</body>
</html>